### step 1: <mark>Data Wrangling</mark>

Get data from API 
and shown as a dataframe ðŸš€

In [43]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

iris = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data',header=None)
iris

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

### step 2: <mark>Data Cleaning</mark>

Save the original dataset before cleaning.

In [44]:
iris_clean = iris.copy()

In [45]:
iris_clean.duplicated().sum()

np.int64(3)

In [46]:
iris_unique = iris_clean.drop_duplicates()

In [47]:
iris_unique.columns = ['sepal length', 'sepal width', 'petal length', 'petal width', 'label']
iris_unique

     sepal length  sepal width  petal length  petal width           label
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[147 rows x 5 columns]

Drop label for X.

In [48]:
X_iris = iris_unique.drop('label', axis=1)
X_iris

     sepal length  sepal width  petal length  petal width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[147 rows x 4 columns]

Transform label from text to number.

In [49]:
le = LabelEncoder()
iris_final = iris_unique.copy() # copy again to avoid warning odf setting value to the Dataframe
iris_final['label'] = le.fit_transform(iris_final['label'])
y_iris = iris_final['label']
y_iris

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: label, Length: 147, dtype: int64

### step 3: <mark>Create Models with NaÃ¯ve Bayes and kNN and test the performance with 10-fold Cross-Validation</mark>

In this step, we are gonna create a model using NaÃ¯ve Bayes and kNN for n times (default is 30 times). As well as that, we are gonna test each model from n times by 10-fold Cross-Validation method and get the avg of it.

> importing used libs.

In [50]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold, cross_val_score
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
import numpy as np

- NaÃ¯ve Bayes

In [51]:
fold = 10
iterations = 30
sum_score = 0.0

def get_dataset(seed):
    return train_test_split(X_iris, y_iris,random_state=seed) # default: 75 / 25 %

def get_cross_val_score(model):
    cv = KFold(n_splits=fold, shuffle=True)
    score = cross_val_score(model, X_iris, y_iris, cv=cv)
    return score

def NaiveBayes():
    scores = []
    for i in range(iterations):
        Xtrain, Xtest, ytrain, ytest = get_dataset(seed=i) 
        model = GaussianNB()
        model.fit(Xtrain, ytrain)
        y_model = model.predict(Xtest)
        score = get_cross_val_score(model)
        scores.append(score)
    return scores

scores = NaiveBayes()
avg_scores = np.mean(scores)

print("10-fold Croos-Validation AVG score (Bayes):", avg_scores)

10-fold Croos-Validation AVG score (Bayes): 0.953047619047619

- kNN

In [52]:
fold = 10
iterations = 30
sum_score = 0.0


def get_dataset(seed):
    return train_test_split(X_iris, y_iris,random_state=seed) # default: 75 / 25 %

def get_cross_val_score(model):
    cv = KFold(n_splits=fold, shuffle=True)
    score = cross_val_score(model, X_iris, y_iris, cv=cv)
    return score

def kNN():
    scores = []
    for i in range(iterations):
        Xtrain, Xtest, ytrain, ytest = get_dataset(seed=i) 
        model = KNeighborsClassifier(n_neighbors=1)
        model.fit(Xtrain, ytrain)
        y_model = model.predict(Xtest)
        score = get_cross_val_score(model)
        scores.append(score)
    return scores

scores = kNN()
avg_scores = np.mean(scores)

print("10-fold Croos-Validation AVG score (kNN):", avg_scores)

10-fold Croos-Validation AVG score (kNN): 0.9581428571428573