### step 1: <mark>Data Wrangling</mark>

Get data from API 
and shown as a dataframe ðŸš€

In [111]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

iris = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data',header=None)
iris

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

### step 2: <mark>Data Cleaning</mark>

Save the original dataset before cleaning.

In [112]:
iris_clean = iris.copy()

In [113]:
iris_clean.columns = ['sepal length', 'sepal width', 'petal length', 'petal width', 'label']
iris_clean

     sepal length  sepal width  petal length  petal width           label
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

Drop label for X.

In [114]:
X_iris = iris_clean.drop('label', axis=1)
X_iris

     sepal length  sepal width  petal length  petal width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

Transform label from text to number.

In [115]:
le = LabelEncoder()
iris_clean['class'] = le.fit_transform(iris_clean['label'])
y_iris = iris_clean['class']
y_iris

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: class, Length: 150, dtype: int64

### step 3: <mark>Create Model with NaÃ¯ve Bayes and kNN</mark>

- NaÃ¯ve Bayes

In [124]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold, cross_val_score
from sklearn.naive_bayes import GaussianNB

fold = 10
iterations = 30
sum_score = 0.0

def get_dataset(seed):
    return train_test_split(X_iris, y_iris,random_state=seed) # default: 75 / 25 %

def get_avg_cross_val_score(model):
    cv = KFold(n_splits=fold, shuffle=True)
    scores = cross_val_score(model, X_iris, y_iris, cv=cv)

    score_sum = 0.0
    for i in scores:
        score_sum += i

    return score_sum / fold

def NaiveBayes():
    scores = []
    for i in range(iterations):
        Xtrain, Xtest, ytrain, ytest = get_dataset(seed=i) 
        model = GaussianNB()
        model.fit(Xtrain, ytrain)
        y_model = model.predict(Xtest)
        score = get_avg_cross_val_score(model)
        scores.append(score)
    return scores

scores = NaiveBayes()

for y in scores:
    sum_score += y;

avg_score = sum_score / iterations
print("10-fold Croos-Validation AVG score (Bayes):", avg_score)

10-fold Croos-Validation AVG score (Bayes): 0.9524444444444443

- kNN

In [126]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold, cross_val_score

fold = 10
iterations = 30
sum_score = 0.0


def get_dataset(seed):
    return train_test_split(X_iris, y_iris,random_state=seed) # default: 75 / 25 %

def get_avg_cross_val_score(model):
    cv = KFold(n_splits=fold, shuffle=True)
    scores = cross_val_score(model, X_iris, y_iris, cv=cv)

    score_sum = 0.0
    for i in scores:
        score_sum += i

    return score_sum / fold

def NaiveBayes():
    scores = []
    for i in range(iterations):
        Xtrain, Xtest, ytrain, ytest = get_dataset(seed=i) 
        model = KNeighborsClassifier(n_neighbors=1)
        model.fit(Xtrain, ytrain)
        y_model = model.predict(Xtest)
        score = get_avg_cross_val_score(model)
        scores.append(score)
    return scores

scores = NaiveBayes()

for y in scores:
    sum_score += y;

avg_score = sum_score / iterations
print("10-fold Croos-Validation AVG score (kNN):", avg_score)

10-fold Croos-Validation AVG score (kNN): 0.9588888888888893